:root {
  --general-color: white;
}

body {
  background-color: white;
}

#page_container {
  margin-right: auto;
  margin-left: auto; 
}

#page_wrapper {
  display: flex;
  border: 1px solid darkgrey;
  border-radius: 8px;
  width: 100%;
}

#content {
  margin-right: auto;
  width: 80%;
  float: left;
}

/* Comments */

#comments_container {
  background-color: var(--general-color);
}

#comment_section_wrapper {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#comment-section {
  width: 98%;
  border: 1px solid darkgrey;
  border-radius: 8px;
}

/* Comment Display */

#comment-display-container {
  width: 90%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  overflow-y: scroll; 
  border: 1px solid darkgrey;
  border-radius: 8px;
}

#user-comment-container {
  border: 1px solid darkgrey;
  border-radius: 8px;
  font-size: 110%;
  margin-bottom: 1em; 
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

#user-comment-header {
  border: none;
  width: 100%;
  border-bottom: 1px solid black; 
  border-radius: 8px 8px 0px 0px;
  background-color: rgba(255, 193, 7, 1);
  color: white;
}

#comment-header-wrapper{
  display: inline-block;
  width: 100%;
}

#close-button-wrapper {
  width:100%;
  background-color: rgba(244, 67, 54, 1);
  border-radius: 0px 0px 8px 8px;
  text-align: center;
}

.single-fa {
  display: inline !important;
}

#close-button-wrapper:active {
  transform: scale(1.05);
}

/* Comment Selectors */

#comment-wrapper {
  width: calc(20% - .125em);
  float: left;
  background: var(--general-color);
  border-right: 1px solid darkgrey;
}

#comment-selector-container {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#comment_submit {
  background-color: transparent;
  border: 1px solid darkgrey;
  border-radius: 5px;  
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  transition: background-color 0.5s, color 0.2s;
  outline: 0;
}

#comment_submit:hover {
  background-color: rgba(117, 117, 117, 1);
  color: white;
}

#comment_submit:active {
  transform: scale(.95);
}

/* Header */

#header_container {
  background-color: rgba(3, 169, 244, 1);
  border: 1px solid darkgrey;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1em;
}

#header_title {
  width: calc(50% - 1.5em);
  margin-left: 1em;
  float: left;
  color: var(--general-color);
}

#media_wrapper {
  text-align: right;
}

#header_media {
  width: calc(50% - 1.5em);
  display: inline-block;
  margin-right: 1em;
}

.nav_media li{
  display: inline-block;
  align-content: flex-end;
}

/* Peronsal and Profesional Information */

#information_container {
  background-color: var(--general-color);
  float: left;
  border-bottom: 1px solid darkgrey;
}

#image_and_description {
  float: left;
  width: calc(50% - 1.5em);
  margin-right: 1em;
  margin-left: 1em;
  border-right: 1px solid darkgrey;
}

.my_picture {
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

#aboutme_container {
  width: 100%;
}

#projects_container {
  width: 97%;
  font-size: 105%;
  line-height: 1.6;
}

/* Gallery */

#my_gallery {
  float: left;
  width: calc(50% - 1.5em);
}

#randomPicture_and_description_container {
  height: 100%;
  width: 100%;
}

#random_picture_container {
  margin-top: 30px;
  height: 350px;
  width: 80%;
  border-radius: 6px
}

.random_picture_button {
  background-color: transparent;
  border: 1px solid darkgrey;
  border-radius: 5px;  
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  transition: background-color 0.5s, color 0.2s;
  outline: 0;
}

.random_picture_button:hover {
  background-color: rgba(117, 117, 117, 1);
  color: white;
}

.random_picture_button:active {
  transform: scale(.95);
}

#picture_description_container {
  width: 80%;
  text-align: justify;
  line-height: 1.6;
  font-size: 110%;
  font-family: 'Roboto', sans-serif;
}

/*Hidden talents*/

#hidden_talents_container {
 background-color: var(--general-color);
}

#hidden_talents_wrapper {
  margin-left: 1em;
}

/* Generic */

.justify_text {
  text-align: justify;
  width: 97%;
  line-height: 1.6;
  font-size: 110%;
  font-family: 'Roboto', sans-serif;
}

.page_headers {
  font-family: Arial, Helvetica, sans-serif;
}

.page_sub-headers {
  font-family: Geneva, sans-serif;
}

#projects_container ul li{
  font-family: 'Roboto', sans-serif;
}
