body {
  background-color: #292929;
}

#content {
  margin-right: auto;
  width: 100%;
}

/* Header */
#header_container {
  background-color: rgba(248,214,179,0.9);
  border-bottom: 1px solid black;
  overflow: hidden;
}

#header_title {
 width: calc(50% - 1.5em);
  margin-left: 1em;
  float: left;
}

#media_wrapper {
  text-align: right;
}

#header_media {
  width: calc(50% - 1.5em);
  display: inline-block;
}

.nav_media li{
  display: inline-block;
  align-content: flex-end;
}

/* Peronsal and Profesional Information */

#information_container {
  background-color: white;
  float: left;
  border-bottom: 1px solid black;
}

#image_and_description {
  float: left;
  width: calc(50% - 1.5em);
  margin-right: 1em;
  margin-left: 1em;
  border-right: 1px solid black;
}

.my_picture {
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

/* Gallery */



#my_gallery {
  float: left;
  width: calc(50% - 1.5em);
}

#randomPicture_and_description_container {
  height: 100%;
  width: 100%;
}

#random_picture_container {
  margin-top: 30px;
  height: 60%;
  width: 60%;
}

.random_picture_button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  transition: background-color 0.5s, color 0.2s;
}

.random_picture_button:hover {
  background-color: #292929;
  color: white;
}

.random_picture_button:active {
  transform: scale(.95);
}

#hidden_talents_container {
  background-color: white;
}

#hidden_talents_wrapper {
  margin-left: 1em;
}

/* Generic */

.justify_text {
  text-align: justify;
  width: 99%;
}

.page_headers {
  font-family: Arial, Helvetica, sans-serif;
}

.page_sub-headers {
  font-family: Geneva, sans-serif;
}
