#content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#information_container {
  display: inline;
}

#image_and_description {
  float: left;
  width: calc(50% - .5em);
  margin-right: 1em;
}

#my_images {
  float: left;
  width: calc(50% - .5em);
}

#greeting-container {
  margin-top: 20px;
}

.my_picture {
  height: 30%;
  width: 30%;
}

.justify_text {
  text-align: justify;
}
